.one-planet-nav {
  display: block;
  padding: 1em 4em;

  h2 {
    display: inline;
    font-size: 2em;
    float: right;
    margin-top: 2px;
  }

  .dropdown {
    display: inline;
  }
  .btn {
    font-family: "Roboto Slab", Serif;
    border: none;
    height: auto;
    margin: 2px;
    padding: 0 5px;
    text-transform: none;
    font-size: 2em;
  }

  button {
    box-shadow: none !important;
  }


  &.health {
    background-color: _palette(health);
  }

  &.equity {
    background-color: _palette(equity);
  }

  &.culture {
    background-color: _palette(culture);
  }
  &.land {
    background-color: _palette(land);
  }

  &.water {
    background-color: _palette(water);
  }

  &.food {
    background-color: _palette(food);
  }

  &.materials {
    background-color: _palette(materials);
  }

  &.transport {
    background-color: _palette(transport);
  }

  &.waste {
    background-color: _palette(waste);
  }

  &.carbon {
    background-color: _palette(carbon);
  }



}

@include breakpoint(medium) {
  .one-planet-nav {
    display: block;
    padding: 0.5em 1.5em;
    button, .btn, h2 {
      font-size: 1.5em;
    }
  }
}

@include breakpoint(small) {
  .one-planet-nav {
    display: block;
    padding: 0.5em 0.5em;
    background-color: orange;
    h2 {
      display: inline;
      font-size: 0.8em;
      float: right;
    }

    button, .btn {
      font-size: 0.8em;
    }


  }


}

a {
  border-bottom: none;
}